body {
    font-family: Arial, sans-serif;
    background-image: url(/img/IMG_7877.JPG);
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

.pedir {
    margin-bottom: 20px;
}

input[type="text"],
input[type="submit"],
input[type="reset"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.btnPush {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.btnPush:hover {
    background-color: #45a049;
}

.resultados {
    margin-bottom: 20px;
}

.opciones {
    width: calc(100% - 40px);
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inp {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.inp:hover {
    background-color: #45a049;
}
